/* _______________________________________General settings______________________________________ */
@font-face {
    font-family: Gilroy;
    src: url('../assets/fonts/Gilroy-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Gilroy;
    src: url('../assets/fonts/Gilroy-Semibold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Gilroy;
    src: url('../assets/fonts/Gilroy-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Gilroy;
    src: url('../assets/fonts/Gilroy-Extrabold.ttf');
    font-weight: 900;
}
:root {
    /* Container */ 
    --container-main-wth: 80%;
    /* Colors */
    --clr-yellow: #FFC700;
    --clr-grey-dark: #A5A5B4;
    --clr-grey-bright: #F0F0F0;
    --clr-grey-checkbox: #999999;
    /* Border */
    --rad-card: 15px;
    --rad-checkbox: 3px;
    /* Size */
    --sz-collosal: 48px;
    --sz-small: 16px;
    --sz-medium: 20px;
    --sz-large: 24px;
    /* Gaps, paddings, margins */
    --pad-card: 25px;
    --mar-center: 0 auto;
    --gap-card-container: 22px;
    --gap-card-containers: 100px;
    /* Transition */
    --tran-ease-fast: .3s ease;
}
a, button, label, input {
    transition: var(--tran-ease-fast);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.container {
    padding: 50px 0;
    width: var(--container-main-wth);
    margin: var(--mar-center);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
/* _________________________________________________Main (document) settings______________________________ */
.main__container__screen-one {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.screen__one-heading {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 65px;
}
.heading-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.heading-btns button {
    background: none;
    border: none;
    font-size: var(--sz-large);
}
.heading-btns .active {
    color: var(--clr-yellow);
    font-weight: 900;
}
.heading-btns .unactive {
    color: var(--clr-grey-dark);
    font-weight: 700;
}
.heading-reminder h2 {
    font-weight: 900;
    font-size: var(--sz-large);
}
.screen__one-content {
    display: flex;
    flex-direction: column;
}
h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--sz-collosal);
}
.screen__one-content h4 {
    text-transform: uppercase;
    font-size: var(--sz-large);
    color: var(--clr-grey-dark);
    font-weight: 600;
}
.screen__one-content .tasks__container h4 {
    margin-top: var(--gap-card-containers);
    margin-bottom: 35px;
    grid-column: 2/3;
    grid-row: 1/4;
}
.screen__one-content .screen__one-today__tasks-container h4 {
    color: var(--clr-yellow);
    font-weight: 900;
    margin-bottom: 35px;
}
.tasks__container {
    margin: 50px 0;
    place-items: center;
    gap: var(--gap-card-container);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 50px;
}
.task {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    border-radius: var(--rad-card);
    padding: var(--pad-card);
    background-color: var(--clr-grey-bright);
}
.task-heading {
    display: flex;
    align-items: center;
    gap: 10px;
}
.task-heading h5 {
    font-weight: 700;
    font-size: var(--sz-medium);
}
.task-heading .unactive__checkbox {
    border-radius: var(--rad-checkbox);
    background-color: var(--clr-grey-bright);
    width: 16px;
    height: 16px;
    border: 1px solid var(--clr-grey-checkbox);
}
.task-heading .active__checkbox {
    background-color: var(--clr-yellow);
    width: 16px;
    height: 16px;
    border-radius: var(--rad-checkbox);
    border: 1px solid var(--clr-yellow);
}
.task-heading input {
    /* display: none; */
    opacity: 0;
    width: 16px;
    height: 16px;
}
.task-content {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.task-content p {
    font-weight: 500;
    font-size: var(--sz-small);
    color: var(--clr-grey-dark);
}
.task-content span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--sz-small);
    color: var(--clr-yellow);
}